:root {
  --primary-main: #455a64;
  --primary-light: #90a4ae;
  --primary-dark: #1c313a;

  --secondary-main: #1de9b6;
  --secondary-light: #6effe8;
  --secondary-dark: #00b686;
}

html {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
