.inputContainer {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  align-items: center;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  grid-column: 2;
}

.bodyContainer {
  grid-column: 2;
  grid-row: 2;
  max-width: inherit;
}

.messageContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.message {
  min-width: 100%;
  margin-top: 0.5rem;
  font-weight: 300;
}

.timeStamp {
  margin-left: 1rem;
}
